.App {
width:500px;
background-color: #1A1B21;
}

.infoClass{
  text-align: center;
  line-height: 10px;
}
.aboutClass, .interestsClass{
 margin: 50px;
}

button{
  margin-top: 10px;
  background-color: white;
  color: #374151;
  font-size: 14px;
  border: 2px solid #D1D5DB;
  border-radius: 6px;
  width:247px;
  height: 35px;
  text-align: right;
  padding-right: 90px;
  position: relative;
  
}
button i{
  position: absolute;
  top: 4px;
  left: 90px;
}
.footerClass{
  background-color: #161619;
  text-align: center;
}
.footerClass i{
font-size: 40px;
padding: 10px;
justify-content: space-between;
color: #918E9B;

}